 
  
   
   body {
    margin: 0 0 0 0;
     width: 1560px;
     height: 720px;
     font-family: 'Roboto', sans-serif;
     background: #FAFAFA 0% 0% no-repeat padding-box;
 }


 #main {
     display: flex;
     gap: 120px;
     margin-top: 150px;
     margin-left: 350px;

 }

 .center {
     display: inline-block;
 }

 #main_img {

     /* margin: 72px 162px 72px 166px; */
     width: 576px;
     height: 576px;
     display: block;
     border: 20px solid #FFFFFF;
     border-radius: 50%;
     opacity: 1;
 }

 #form_login {

     margin-top: 70px;
 }

 #logo {
     display: flex;
 }

 #Company_logo {
     top: 106px;
     left: 906px;
     width: 272px;
     height: 58px;

 }
h3 {
  
     font-size: 40px;
     letter-spacing: 0px;
     color: #3E3E3E;
     opacity: 1;
     font-weight: 900;
}

h4 {
     text-align: left;
     margin-bottom: 23px;
     letter-spacing: 0px;
     color: #3E3E3E;
     opacity: 1;
     font-weight: 900;
 }

 h4{
    font-size: 25px !important;
    
}

 span {
     color: #C8242F;
     font-weight: bold;

 }

 #inputEmail {
    margin-top: 0px;
    margin-right: -20px;
    width: 400px;
    color: #ADADAD;
    background-color: #FFFFFF;
    border: 1px solid #ADADAD;
    padding: 14.63px 1px 14.27px 14.5px;
   border-radius: 5px; 
}


 #inputPassword {
     margin-top: 20px;
     width: 400px;
     margin-bottom: 10px;
     padding: 14.63px 1px 14.27px 14.5px;
     background-color: #FFFFFF;
     border: 1px solid #ADADAD;
     color: #ADADAD;
    border-radius: 5px;
 }


 #login_pwd {
     display: flex;
     gap: 100px;
     margin-bottom: 10px;
 }

 #login_but {
     background-color: #C8242F;
     margin-top: 20px;
     border-radius: 40px;
    color: #FFFFFF;
     width: 100px;
     border-color: #ffffff;
 }
 .member{
 font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

 }

 #forgot_pwd {
     margin: 27px 30px 3px auto;
     font-size: 15px;
     color: #ADADAD;
     top: 539px;
     left: 1214px;
     width: 121px;
     height: 20px;
     text-align: right;
     font: normal normal normal 15px/20px Roboto;
     letter-spacing: 0px;

 }